/* Código para identificar caracteres especiais nos navegadores */
@charset "UTF-8";

/* importação de fonte externa, google.fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* importação de font interna, feito download do pacote .otf */
/* caso nao for aplicado a font, pode ser o diretório da pasta, neste caso aplicar ./..(um - pasta atual/dois pontos - pasta anterior) no diretório */
@font-face {
  font-family: "Android";
  src: url(/fontes/idroid.otf) format("opentype");
  font-weight: normal;
}

/* Paleta de cores selecionadas para o site
#c5ebd6/#83e1ad/#3ddc84/#2fa866/#1a5c37/#063d1e */
/* root = código para criação de variáveis, para facilitar a codificação de parâmetros mais usados */
/* utilizar sempre --(dois traços) para as criação de variáveis */
:root {
  --cor0:#c5ebd6;
  --cor1:#83e1ad;
  --cor2:#3ddc84;
  --cor3:#2fa866;
  --cor4:#1a5c37;
  --cor5:#063d1e;
  --cor6:#ffffff;

  --font-padrao: Arial, Verdana, Helvetica, sans-serif;
  --font-destaque: 'Bebas Neue', cursive;
  --font-android: "Android", cursive;
}

/* o *(asterisco) é o parâmetro para configuração global, todos os parâmetros vao ter margin 0px, e padding 0px nesse caso */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor0);
  font-family: var(--font-padrao);
}

a.externo::after {
  content: '\1F517';

}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 30px;
}

header > h1 {
  color: var(--cor6);
  font-family: var(--font-destaque);
  margin-bottom: 20px;
  font-size: 3em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
  font-weight: normal;
}

/* quando colocamos um max-width em um texto, ou paragráfo, ele se torna uma caixa, e é nescessário colocar um margin auto para centralizar o conteúdo */
header > p {
  color: var(--cor6);
  font-family: var(--font-padrao);
  font-size: 1.2em;
  max-width: 500px;
  margin: auto;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
  padding-bottom: 50px;
}

nav {
  background-color:var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.274);
}

/* transition-duratio é o paramêtro que de transição de uma caixa a outra, fica em alto relevo com delay */
nav > a {
  color: var(--cor6);
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.5s;
}

nav > a:hover {
  background-color: var(--cor3);
  color: var(--cor5);
}

main {
  background-color: var(--cor6);
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h1 {
  color: var(--cor5);
  font-family: var(--font-android);
  font-weight: normal;
  font-size: 1.8em;
}

main h2 {
  font-family: var(--font-android);
}

/* quando utilizamos o sinal >(maior), significa que é somente o paramêtro naquele nível, sem o sinal de >, significa que estamos ditando para todo o paramêtro indicado dentro daquela content */
main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
  font-size: 1em;
}


main img {
  width: 100%;
}

main img.pequena {
  max-width: 350px;
  margin: auto;
  display: block;
}

main strong {
  color: var(--cor4);
  font-weight: bold;
}

main a {
  background-color: var(--cor1);
  color: var(--cor5);
  padding: 2px 6px;
  text-decoration: none;
  font-weight: bold;
}

main a:hover {
  text-decoration: underline;
  color: var(--cor4)
}

/* o padding-bottom: em % neste caso, aumenta o tamanho do video dentro da caixa do youtube */
div.video {
  background-color: var(--cor5);
  margin-bottom: 30px;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  position: relative;
  padding-bottom: 58%;
}

/* so conseguimos movimentar top e left, devido a position ser absoluta, que são essas duas extremidades a medida absoluta */
div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.subtitulo {
  background-image: linear-gradient(to right, var(--cor3), transparent);
  text-indent: 5px;
  padding-top: 5px;
}

aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
}

/* list-style-type, é utilizado para personalizar o icone da lista, e é utilizado a \ (barra invertida), para poder funcionar o código do icone, não é compatível com todo navegador */
/* a utilização do \00A0, é a colocação de espaços entre o icone e a palavra incluida na linha da coluna */
aside > ul {
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}

aside > h3 {
  background-color: var(--cor4);
  color: var(--cor6);
  padding: 5px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}

footer {
  background-color: var(--cor5);
  color: var(--cor6);
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

/* extensões e aplicativos usados para criação do site
- aplicativos
  - vs code
  - gimp (fotos)
  - git (backup)
  - wondershare (vídeo)

- sites
  - github (repositório)
  - google fonts (fontes)
  - font finder (fontes)
  - mockflow (montagem de exemplar)
  - adobe color (paleta de cores)
  - palleton (paleta de cores)
  - media types (tipos de types para cada arquivo)

- extensões chrome
  - colorzilla (captura de cores da tela)
  - fonts ninja (captura de fonte)
  - web developer (inspecionar developer)
  - window resizer (medição de tamanho da tela)

- extensões VSCode
  - React/React Native/Redux
  - EsLint
  - GitLens
  - GraphQL
  - LiveServer
  - LiveShare
  - Material Icon
  - React Native Tools
  - NPM
